img {
  width: 10rem;
  cursor: pointer;
}

.header {
  height: 60px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 1;
  width: -webkit-fill-available;
  z-index: 4;
  padding-right: 1.5rem;
}

.logo {
  height: 25px;
}

h3 {
  font-size: large;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;

  h3 {
    color: #ffffff;
  }
}

.icon-btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

:root {
  --icon-size: 40px;
}

i {
  font-size: 17px;
  padding: 0.5px;
  cursor: pointer;
}

.icon-btn:hover {
  color: #d2f0ff;
}

.hidden-color-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}