<div class="landing-ui">
    <header class="landing-header">
        <div class="header-row">
            <p></p>
            <h1 class="welcome-text">Welcome {{ username }}!</h1>

            <button class="logout-btn" title="Logout" (click)="onLogout()">
                <i class="fa-solid fa-power-off"></i>
            </button>
        </div>

        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass search-icon-left"></i>
            <input type="text" [(ngModel)]="searchText" placeholder="Search">
            <!-- <i class="fa-solid fa-microphone search-icon-right"></i> -->
        </div>


    </header>



    <section class="cards-wrap">
        <div class="cards" role="list">
            <article class="card" *ngFor="let card of filteredCards; let i = index" role="listitem">
                <div class="card-media">
                    <img [src]="card.imageUrl" alt="" />
                </div>

                <div class="card-body">
                    <h3 class="card-title">{{ card.title }}</h3>
                    <p class="card-description">{{ card.description }}</p>

                    <button class="card-cta" (click)="navigate(card.url)">
                        {{ card.buttonText }}<i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </button>
                </div>
            </article>
        </div>


    </section>

</div>