:root {
  --border-none: none;
  
  --border-xs: 1px solid var(--color-gray-200);
  --border-sm: 1px solid var(--color-gray-300);
  --border-md: 1px solid var(--color-gray-400);

  /* radius */
  --radius-none: 0;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
}
