.p-1 {
  padding: var(--space-1);
}
.p-2 {
  padding: var(--space-2);
}
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.p-5 {
  padding: var(--space-5);
}

.pt-3 {
  padding-top: var(--space-3);
}
.pb-3 {
  padding-bottom: var(--space-3);
}
.pl-3 {
  padding-left: var(--space-3);
}
.pr-3 {
  padding-right: var(--space-3);
}

.px-3 {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.py-3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

.m-1 {
  margin: var(--space-1);
}
.m-2 {
  margin: var(--space-2);
}
.m-3 {
  margin: var(--space-3);
}
.m-4 {
  margin: var(--space-4);
}
.m-5 {
  margin: var(--space-5);
}

.mt-3 {
  margin-top: var(--space-3);
}
.mb-3 {
  margin-bottom: var(--space-3);
}
.ml-3 {
  margin-left: var(--space-3);
}
.mr-3 {
  margin-right: var(--space-3);
}

.mx-3 {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}

.my-3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

.h1 {
  font-size: var(--font-h1);
  font-weight: var(--fw-bold);
}

.h2 {
  font-size: var(--font-h2);
  font-weight: var(--fw-semibold);
}

.h3 {
  font-size: var(--font-h3);
  font-weight: var(--fw-semibold);
}

.h4 {
  font-size: var(--font-h4);
  font-weight: var(--fw-medium);
}

.h5 {
  font-size: var(--font-h5);
  font-weight: var(--fw-medium);
}

.h6 {
  font-size: var(--font-h6);
  font-weight: var(--fw-regular);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
