:root {
  --landing-bg-start: #611b5b;
  --landing-bg-mid: #280226;
  --landing-bg-end: #1f011f;

  --login-button: linear-gradient(135deg, #720473 0%, #3c0842 100%);
  --search-button: #ffffff2a;

  --welcome-color: #bbb6bb;
  --button-bg: rgba(98, 4, 98, 0.35);
  --button-text: #2a0036a3;
  --dashboard-main-color: #2e0131;
}
