.module-card {
    background: white;
    border-radius: 14px;
    padding: 0.5rem;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    color: #64748b;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
  
    &:hover {
      transform: translateY(-3px);
    }
  }
  
  .icon-wrap {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-wrap i {
    font-size: 1.8rem;
    color: var(--primary-color);
  }
  
  .card-title {
    font-size: 11px;
    color: var(--primary-color);
  }
  