/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@clarium/ngce-icon/src/assets/ngce-icons/css/ngce-icon.css";

* {
  // margin: 0;
  // padding: 0;
  font-family: "sans-serif", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

:root {
  /* Purple gradient background */
  --landing-bg-start: #611b5b; /* Soft Lavendar */
  --landing-bg-mid: #280226; /* Royal Purple */
  --landing-bg-end: #1f011f; /* Deep Plum */
  --login-button: linear-gradient(135deg, #720473 0%, #3c0842 100%);
  --search-button: #ffffff2a;

  /* Header text */
  --welcome-color: #bbb6bb;

  /* Button theme */
  --button-bg: rgba(98, 4, 98, 0.35);
  --button-text: #2a0036a3;

  /* Card accents */
  --dashboard-main-color: #2e0131;

  --primary: #1f011f;
}
